twitter_consumer_key:	ZmXXyQ6i9VCNV9aI88NAlnZ4U
twitter_secret_key:		fn3tsyKfgzjrf2oK3HDCB2wAENpIxNWw0QjNFnHkwCPnYXo5FL
twitter_callback:		http://twittstock.com/callback.php
spoofed_bait_page:		https://www.zendesk.com/in/marketplace/apps/support/210018/happy-schedule/
oauth_harvester_page:	http://twittstock.com