twitter_consumer_key:	41gsO9RtcaInMqF8qqXwhlyZV
twitter_secret_key:		FlB4lRIcGSoXeXn55cuV9TzWYikrKK7wibv0ZMnJxRiSoHrc0X
twitter_callback:		http://twittstock.com/callback.php
spoofed_bait_page:		https://www.zendesk.com/in/marketplace/apps/support/210018/happy-schedule/
oauth_harvester_page:	http://twittstock.com